.СongratulationFormSell {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 1;
    text-align: center;
}


.Сongratulation {
    display: inline-block;
    background-color: white;
    z-index: 101;
    opacity: 1;
    width: 80%;
    height: auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 150px;
}

.manager {
    width: 200px;
}